---
import { Image } from "astro:assets";
import heroImage from "../assets/hero-image-emerald-leaf.webp";
---

<div id="starfield" class="absolute inset-0">
  <Image
    src={heroImage}
    alt="A beatuful green fern"
    widths={[240, 540, 720,  heroImage.width]}
    style="height: 100%; width: 100%; object-fit: cover;"
  />
</div>
