---
import { Icon } from "astro-icon/components";
import HeroBg from "~/components/hergo-bg.astro";

---

<section class="relative h-full bg-black">
  <HeroBg />
  <div class="relative grid place-items-center my-auto h-full">
    <div class="text-center max-h-[content] max-w-[61.75rem]">
      <div class="w-full flex justify-end">
        <Icon name="leaf" class="flex size-44" />
      </div>
      <h2 class="tracking-tighter text-8xl text-tertiary">The Emerald Leaf</h2>
      <h1 class="mt-9 text-2xl font-extralight text-cream">
        Santa Barbara Home and Plant Care Services
      </h1>
    </div>
  </div>
</section>

<style></style>
